<!DOCTYPE html>
<html>
<head>

    <title>Iris Species Machine Learning Demo</title>

    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<br>
<br>
<br>

<center>

    <div class="container">
      <div class="row">
          <div class="col">

          </div>

            <div class="col-9">
                <div class="jumbotron">
                  <h1 class="display-4">Iris Species Machine Learning Demo!</h1>
                    <p class="lead">This web app is designed to be a proof of concept of how one can deploy a machine learning model. This web app uses the famous Iris dataset and a logisitc regression model that takes four (4) leaf measurements and predicts the species a species of Iris.</p>
                        <hr class="my-4">
                    <p>Click the button below to learn more about the famous Iris dataset that is commonly used for machine learning.</p>
                  <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Iris_flower_data_set" role="button">Learn More</a>
                </div>
            </div>

          <div class="col">

          </div>
      </div>

      <div class="row">

        <div class="col-md">
          <!-- 1 of 5 -->
        </div>

        <div class="col-md">

            <form>
              <div class="form-group">

                <br>

                <h4>Enter the Four (4) Leaf Measurements Into the Form Below.</h4>

                <br>

                <label for="sepalLength">Sepal Length (cm)</label>
                <input type="sepal_length" class="form-control" id="_sepalLength" placeholder="Sepal Length">

                <br>

                <label for="sepalWidth">Sepal Width (cm)</label>
                <input type="sepal_width" class="form-control" id="_sepalWidth" placeholder="Sepal Width">

                <br>

                <label for="petalLength">Petal Length (cm)</label>
                <input type="petal_length" class="form-control" id="_petalLength" placeholder="Petal Length">

                <br>

                <label for="petalWidth">Petal Width (cm)</label>
                <input type="petal_width" class="form-control" id="_petalWidth" placeholder="Petal Width">

                <br>

                <a id="searchBtn" class="btn btn-primary">Predict Iris Class</a>
                <a id='eraseBtn' class='btn btn-primary'>Erase Iris Data</a>

              </div>
            </form>

        </div>

        <div class="col-md">
          <!-- 2 of 5 -->
        </div>

      </div>

      <br>

      <div class="row">

        <div class="col-md">
          <pr>
            <!-- 3 of 5 -->
          </pr>
        </div>

        <div class="col-md">

            <h4>Results From our Machine Learning Model.</h4>
              <br>
            <!-- Render the name of Iris to the DOM. -->
            <p id='json_response'></p>
              <br>
            <!-- Render the prob of each of Iris class to the DOM. -->
            <p id='json_response_2'></p>
              <br>
            <p id='json_response_3'></p>
              <br>
            <p id='json_response_4'></p>
        </div>

        <div class="col-md">
          <!-- 5 of 5 -->
        </div>

      </div>

    </div>
</center>

<br>
<br>
<br>

<body>

    <script src="{{url_for('static', filename='app.js')}}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
